<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center mb-4 mt-4">
            <span class="text-primary">Books panel</span> Login
          </h1>
          <div class="alert alert-danger" *ngIf="form.touched && form.invalid">Please, fill out all required fields</div>
          <form novalidate #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text"
                     class="form-control"
                     id="email"
                     name="email"
                     [(ngModel)]="email"
                     #emailLogin="ngModel"
                     required
              >
            </div>
            <div class="alert alert-danger" *ngIf="emailLogin.touched && emailLogin.invalid">Email is required</div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password"
                     class="form-control"
                     id="password"
                     name="password"
                     [(ngModel)]="password"
                     #passwordLogin="ngModel"
                     required
              >
            </div>
            <div class="alert alert-danger" *ngIf="passwordLogin.touched && passwordLogin.invalid">Password is required</div>
            <button class="btn btn-primary btn-block" [disabled]="form.invalid">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
